{{ if ne .Values.env "prod" }}
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: pictures-ingress
  namespace: {{ .Values.namespace }}
  annotations:
    kubernetes.io/ingress.class: "nginx-{{ .Values.namespace }}"
    ingress.kubernetes.io/limit-rps: "100"
    certmanager.k8s.io/cluster-issuer: letsencrypt-production
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/enable-modsecurity: "true"
    nginx.ingress.kubernetes.io/enable-owasp-core-rules: "true"
spec:
  tls:
  - hosts:
    - {{ .Values.pictures_domain_name }}
    secretName: pictures-secret
  rules:
  - host: {{ .Values.pictures_domain_name }}
    http:
      paths:
      - path: /avatar/get/id/
        backend:
          serviceName: dino-park-fossil-service
          servicePort: 80
{{ end }}